

.screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 1168px;
  position: relative;
}

.screen .overlap {
  position: absolute;
  width: 1440px;
  height: 558px;
  top: 20px;
  left: 0;
}

.screen .overlap-group {
  position: absolute;
  width: 1440px;
  height: 558px;
  top: 0;
  left: 0;
}

.screen .overlap-2 {
  position: absolute;
  width: 1440px;
  height: 459px;
  top: 99px;
  left: 0;
}

.screen .line {
  position: absolute;
  width: 1440px;
  height: 1px;
  top: 17px;
  left: 0;
  object-fit: cover;
}

.screen .element {
  position: absolute;
  width: 427px;
  height: 427px;
  top: 0;
  left: 916px;
  mix-blend-mode: darken;
}

.screen .rectangle {
  position: absolute;
  width: 233px;
  height: 40px;
  top: 419px;
  left: 1167px;
  border-radius: 10px;
  border: 0.5px solid;
  border-color: #000000;
}

.screen .text-wrapper {
  margin-top: 4px;
  width: 213px;
  height: 24px;
  top: 426px;
  left: 1177px;
  font-weight: 700;
  color: #742a2a;
  font-size: 16px;
  text-align: center;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.screen .p {
  width: 441px;
  height: 53px;
  top: 157px;
  left: 62px;
  font-weight: 400;
  color: #000000;
  font-size: 43.9px;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.screen .span {
  font-weight: 600;
}

.screen .text-wrapper-2 {
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 43.9px;
  letter-spacing: 0;
}

.screen .icon-book-open {
  position: absolute;
  width: 101px;
  height: 102px;
  top: 0;
  left: 62px;
  object-fit: cover;
}

.screen .text-wrapper-3 {
  width: 769px;
  height: 191px;
  top: 223px;
  left: 62px;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: justify;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.screen .div-wrapper {
  position: absolute;
  width: 70px;
  height: 40px;
  top: 518px;
  left: 42px;
  background-color: #000000;
  border-radius: 10px;
}

.screen .text-wrapper-4 {
  margin-top: 2px;
  width: 53px;
  height: 26px;
  top: 6px;
  left: 9px;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.screen .overlap-3 {
  position: absolute;
  width: 114px;
  height: 40px;
  top: 518px;
  left: 128px;
  background-color: #e8e6e6;
  border-radius: 10px;
}

.screen .text-wrapper-5 {
  margin-top: 1px;
  height: 24px;
  top: 7px;
  left: 11px;
  font-weight: 500;
  color: #742a2a;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.screen .overlap-4 {
  position: absolute;
  width: 97px;
  height: 40px;
  top: 518px;
  left: 258px;
  background-color: #e8e6e6;
  border-radius: 10px;
}

.screen .text-wrapper-6 {
  margin-top: 2px;
  width: 73px;
  height: 27px;
  top: 5px;
  left: 14px;
  font-weight: 500;
  color: #742a2a;
  font-size: 20px;
  text-align: center;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-7 {
  width: 103px;
  height: 29px;
  top: 35px;
  left: 484px;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  transition: 0.5s;
}

.screen .text-wrapper-7:hover{
  color: #742a2a;
}

.screen .text-wrapper-8 {
  width: 144px;
  height: 29px;
  top: 35px;
  left: 676px;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  transition: 0.5s;
}

.screen .text-wrapper-8:hover{
  color: #742a2a;
}

.screen .text-wrapper-9 {
  width: 46px;
  height: 29px;
  top: 35px;
  left: 909px;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  transition: 0.5s;
}

.screen .text-wrapper-9:hover {
  color: #742a2a;
}

.screen .icon-person {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 16px;
  left: 1330px;
}

.screen .overlap-5 {
  position: absolute;
  width: 1464px;
  height: 313px;
  top: 712px;
  left: -8px;
}

.screen .component {
  position: absolute;
  width: 1460px;
  height: 105px;
  top: 0;
  left: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #000000;
}

.screen .component-2 {
  top: 104px;
  left: 0;
  position: absolute;
  width: 1460px;
  height: 105px;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #000000;
}

.screen .component-3 {
  top: 208px;
  left: 4px;
  position: absolute;
  width: 1460px;
  height: 105px;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #000000;
}

.screen .text-wrapper-10 {
  width: 417px;
  height: 51px;
  top: 26px;
  left: 53px;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-11 {
  width: 417px;
  height: 51px;
  top: 132px;
  left: 53px;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-12 {
  width: 547px;
  height: 51px;
  top: 238px;
  left: 54px;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-13 {
  top: 32px;
  left: 1211px;
  position: absolute;
  width: 159px;
  height: 39px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-14 {
  top: 138px;
  left: 1211px;
  position: absolute;
  width: 159px;
  height: 39px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-15 {
  top: 244px;
  left: 1212px;
  position: absolute;
  width: 159px;
  height: 39px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .sato {
  position: absolute;
  width: 144px;
  height: 39px;
  top: 29px;
  left: 995px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-16 {
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
}

.screen .text-wrapper-17 {
  font-size: 14px;
}

.screen .sato-2 {
  top: 134px;
  left: 995px;
  position: absolute;
  width: 144px;
  height: 39px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .sato-3 {
  top: 240px;
  left: 996px;
  position: absolute;
  width: 144px;
  height: 39px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .overlap-6 {
  position: absolute;
  width: 270px;
  height: 42px;
  top: 604px;
  left: 42px;
  border-radius: 10px;
  border: 0.5px solid;
  border-color: #000000;
}

.screen .text-wrapper-18 {
  margin-top: 5px;
  width: 216px;
  height: 34px;
  top: 2px;
  left: 8px;
  font-weight: 300;
  color: #000000;
  font-size: 20px;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.screen .icon-search-outline {
  position: absolute;
  width: 25px;
  height: 28px;
  top: 6px;
  left: 234px;
}

.screen .text-wrapper-19 {
  margin-top: 8px;
  width: 119px;
  height: 53px;
  top: 653px;
  left: 44px;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-20 {
  margin-top: 10px;
  width: 156px;
  height: 53px;
  top: 653px;
  left: 979px;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-21 {
  margin-top: 8px;
  width: 185px;
  height: 53px;
  top: 653px;
  left: 1193px;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.screen .view {
  position: absolute;
  width: 1440px;
  height: 143px;
  top: 1025px;
  left: 0;
  background-color: #ffffff;
}

.screen .overlap-group-2 {
  position: absolute;
  width: 602px;
  height: 45px;
  top: 48px;
  left: 97px;
}

.screen .text-wrapper-22 {
  margin-top:15px;
  position: absolute;
  width: 208px;
  height: 45px;
  top: 0;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .copyright {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 17px;
  left: 19px;
}

.screen .text-wrapper-23 {
  margin-top: 3px;
  width: 408px;
  height: 27px;
  top: 9px;
  left: 194px;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-24 {
  margin-top:6px;
  position: absolute;
  width: 224px;
  height: 37px;
  top: 52px;
  left: 751px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-25 {

  width: 164px;
  height: 27px;
  top: 57px;
  left: 1027px;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  text-align: center;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.screen .telegram {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 54px;
  left: 1254px;
}

.screen .VK-com {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 54px;
  left: 1306px;
}
