.screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .div {
  background-color: #ffffff;
  width: 1440px;
  height: 1222px;
  position: relative;
}

.screen .overlap {
  position: absolute;
  width: 1440px;
  height: 583px;
  top: 0;
  left: 0;
}

.screen .ellipse {
  position: absolute;
  width: 421px;
  height: 583px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.screen .view {
  position: absolute;
  width: 1440px;
  height: 133px;
  top: 0;
  left: 0;
}

.screen .line {
  position: absolute;
  width: 1065px;
  height: 1px;
  top: 132px;
  left: 375px;
  object-fit: cover;
}

.screen .view-2 {
  position: absolute;
  width: 1344px;
  height: 102px;
  top: 20px;
  left: 51px;
}

.screen .text-wrapper {
  width: 103px;
  height: 29px;
  top: 36px;
  left: 422px;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  transition: 0.5s;
}

.screen .text-wrapper:hover {
  color: #742a2a;
}

.screen .text-wrapper-2 {
  width: 144px;
  height: 29px;
  top: 36px;
  left: 614px;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  transition: 0.5s;
}

.screen .text-wrapper-2:hover{
  color: #742a2a;
}

.screen .text-wrapper-3 {
  width: 46px;
  height: 29px;
  top: 36px;
  left: 847px;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  transition: 0.5s;
}

.screen .text-wrapper-3:hover{
  color: #742a2a;
}

.screen .icon-person {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 16px;
  left: 1268px;
}

.screen .icon-book-open {
  position: absolute;
  width: 101px;
  height: 102px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.screen .text-wrapper-4 {
  height: 44px;
  top: 190px;
  left: 473px;
  font-weight: 800;
  color: #742a2a;
  font-size: 36px;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-5 {
  height: 29px;
  top: 289px;
  left: 473px;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-6 {
  height: 29px;
  top: 412px;
  left: 473px;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .rectangle {
  position: absolute;
  width: 640px;
  height: 50px;
  top: 341px;
  left: 473px;
  border: 1px solid;
  border-color: #000000;
}

.screen .rectangle-2 {
  position: absolute;
  width: 640px;
  height: 50px;
  top: 464px;
  left: 473px;
  border: 1px solid;
  border-color: #000000;
}

.screen .overlap-group {
  position: absolute;
  width: 640px;
  height: 429px;
  top: 583px;
  left: 473px;
  background-color: #f3f3f3;
}

.screen .rectangle-3 {
  position: absolute;
  width: 600px;
  height: 50px;
  top: 21px;
  left: 20px;
  border: 1px solid;
  border-color: #000000;
}

.screen .rectangle-4 {
  position: absolute;
  width: 600px;
  height: 300px;
  top: 93px;
  left: 20px;
  border: 1px solid;
  border-color: #000000;
}

.screen .overlap-2 {
  position: absolute;
  width: 640px;
  height: 29px;
  top: 1031px;
  left: 473px;
}

.screen .img {
  position: absolute;
  width: 640px;
  height: 25px;
  top: 3px;
  left: 0;
}

.screen .text-wrapper-7 {
  height: 29px;
  top: 0;
  left: 252px;
  font-weight: 600;
  color: #ffffff;
  font-size: 24px;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .view-3 {
  position: absolute;
  width: 1440px;
  height: 143px;
  top: 1079px;
  left: 0;
  background-color: #ffffff;
}

.screen .overlap-group-2 {
  position: absolute;
  width: 602px;
  height: 45px;
  top: 48px;
  left: 97px;
}

.screen .text-wrapper-8 {
  margin-top: 13px;
  position: absolute;
  width: 208px;
  height: 45px;
  top: 0;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .copyright {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 17px;
  left: 19px;
}

.screen .text-wrapper-9 {
  margin-top: 1px;
  width: 408px;
  height: 27px;
  top: 9px;
  left: 194px;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-10 {
  margin-top: 6px;
  position: absolute;
  width: 224px;
  height: 37px;
  top: 52px;
  left: 751px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-11 {
  width: 164px;
  height: 27px;
  top: 57px;
  left: 1027px;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .telegram {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 54px;
  left: 1254px;
}

.screen .VK-com {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 54px;
  left: 1306px;
}

#message-id-1{
  margin-left: 5px;
  margin-top: 5px;
  border-width: 0px;
  border-style: none;
  font: 400 26px Montserrat;
  cursor: text;
  resize: none;
}

#message-id-2{
  margin-left: 5px;
  margin-top: 5px;
  border-width: 0px;
  border-style: none;
  font: 400 26px Montserrat;
  cursor: text;
  resize: none;
}

#message-id-3{
  margin-left: 5px;
  margin-top: 5px;
  border-width: 0px;
  border-style: none;
  font: 400 26px Montserrat;
  cursor: text;
  resize: none;
}

#message-id-4{
  margin-left: 5px;
  margin-top: 5px;
  border-width: 0px;
  border-style: none;
  font: 400 26px Montserrat;
  cursor: text;
  resize: none;
}

textarea:focus{
  outline: none;
}