.screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .div {
  background-color: #ffffff;
  width: 1440px;
  height: 830px;
  position: relative;
}

.screen .overlap {
  position: absolute;
  width: 1317px;
  height: 291px;
  top: 136px;
  left: 62px;
}

.screen .image {
  width: 1317px;
  top: 0;
  left: 0;
  position: absolute;
  height: 216px;
  object-fit: cover;
}

.screen .img {
  width: 213px;
  top: 75px;
  left: 193px;
  position: absolute;
  height: 216px;
  object-fit: cover;
}

.screen .flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  position: absolute;
  width: 88px;
  height: 45px;
  top: 573px;
  left: 793px;
}

.screen .text {
  position: relative;
  align-self: stretch;
  font-weight: 600;
  color: #9e543d;
  font-size: 16px;
  letter-spacing: 0;
  font-family: "Montserrat", Helvetica;
  line-height: normal;
}

.screen .text-wrapper {
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #9e543d;
  font-size: 16px;
  letter-spacing: 0;
}

.screen .text-wrapper-2 {
  top: 603px;
  left: 264px;
  font-weight: 500;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-3 {
  position: absolute;
  top: 453px;
  left: 264px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-4 {
  position: absolute;
  top: 469px;
  left: 416px;
  font-weight: 500;
  color: #23ff00;
  font-size: 20px;
  letter-spacing: 0;
  white-space: nowrap;
  font-family: "Montserrat", Helvetica;
  line-height: normal;
}

.screen .text-wrapper-5 {
  position: absolute;
  top: 541px;
  left: 264px;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: -0.64px;
  font-family: "Montserrat", Helvetica;
  line-height: normal;
}

.screen .text-wrapper-6 {
  top: 572px;
  left: 264px;
  font-weight: 500;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .overlap-group {
  position: absolute;
  width: 238px;
  height: 128px;
  top: 541px;
  left: 530px;
}

.screen .overlap-2 {
  position: absolute;
  width: 238px;
  height: 128px;
  top: 0;
  left: 0;
}

.screen .overlap-3 {
  position: absolute;
  width: 202px;
  height: 128px;
  top: 0;
  left: 0;
}

.screen .text-wrapper-7 {
  position: absolute;
  top: 0;
  left: 8px;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  font-family: "Montserrat", Helvetica;
  line-height: normal;
}

.screen .text-wrapper-8 {
  top: 18px;
  left: 0;
  font-size: 90px;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-9 {
  position: absolute;
  top: 90px;
  left: 63px;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  font-family: "Montserrat", Helvetica;
  line-height: normal;
}

.screen .text-wrapper-10 {
  top: 90px;
  left: 88px;
  font-size: 16px;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.screen .line {
  position: absolute;
  width: 85px;
  height: 2px;
  top: 31px;
  left: 153px;
}

.screen .pngwing {
  top: 33px;
  left: 152px;
  position: absolute;
  width: 15px;
  height: 15px;
  object-fit: cover;
}

.screen .pngwing-2 {
  top: 63px;
  left: 152px;
  position: absolute;
  width: 15px;
  height: 15px;
  object-fit: cover;
}

.screen .pngwing-3 {
  top: 78px;
  left: 152px;
  position: absolute;
  width: 15px;
  height: 15px;
  object-fit: cover;
}

.screen .pngwing-4 {
  top: 93px;
  left: 152px;
  position: absolute;
  width: 15px;
  height: 15px;
  object-fit: cover;
}

.screen .pngwing-5 {
  top: 48px;
  left: 152px;
  position: absolute;
  width: 15px;
  height: 15px;
  object-fit: cover;
}

.screen .pngwing-6 {
  top: 33px;
  left: 167px;
  position: absolute;
  width: 15px;
  height: 15px;
  object-fit: cover;
}

.screen .pngwing-7 {
  top: 63px;
  left: 167px;
  position: absolute;
  width: 15px;
  height: 15px;
  object-fit: cover;
}

.screen .pngwing-8 {
  top: 78px;
  left: 167px;
  position: absolute;
  width: 15px;
  height: 15px;
  object-fit: cover;
}

.screen .pngwing-9 {
  top: 48px;
  left: 167px;
  position: absolute;
  width: 15px;
  height: 15px;
  object-fit: cover;
}

.screen .pngwing-10 {
  top: 33px;
  left: 182px;
  position: absolute;
  width: 15px;
  height: 15px;
  object-fit: cover;
}

.screen .pngwing-11 {
  top: 63px;
  left: 182px;
  position: absolute;
  width: 15px;
  height: 15px;
  object-fit: cover;
}

.screen .pngwing-12 {
  top: 48px;
  left: 182px;
  position: absolute;
  width: 15px;
  height: 15px;
  object-fit: cover;
}

.screen .pngwing-13 {
  top: 33px;
  left: 197px;
  position: absolute;
  width: 15px;
  height: 15px;
  object-fit: cover;
}

.screen .pngwing-14 {
  top: 48px;
  left: 197px;
  position: absolute;
  width: 15px;
  height: 15px;
  object-fit: cover;
}

.screen .pngwing-15 {
  top: 33px;
  left: 212px;
  position: absolute;
  width: 15px;
  height: 15px;
  object-fit: cover;
}

.screen .view {
  position: absolute;
  width: 1344px;
  height: 102px;
  top: 20px;
  left: 62px;
}

.screen .text-wrapper-11 {
  position: absolute;
  width: 103px;
  height: 29px;
  top: 36px;
  left: 422px;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  font-family: "Montserrat", Helvetica;
  line-height: normal;
  transition: 0.5s;
}

.screen .text-wrapper-11:hover{
  color: #742a2a;
}

.screen .text-wrapper-12 {
  position: absolute;
  width: 144px;
  height: 29px;
  top: 36px;
  left: 614px;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  font-family: "Montserrat", Helvetica;
  line-height: normal;
  transition: 0.5s;
}

.screen .text-wrapper-12:hover{
  color: #742a2a;
}

.screen .text-wrapper-13 {
  position: absolute;
  width: 46px;
  height: 29px;
  top: 36px;
  left: 847px;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  font-family: "Montserrat", Helvetica;
  line-height: normal;
  transition: 0.5s;
}

.screen .text-wrapper-13:hover{
  color: #742a2a;
}

.screen .icon-person {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 25px;
  left: 1268px;
}

.screen .icon-book-open {
  position: absolute;
  width: 101px;
  height: 102px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.screen .line-2 {
  position: absolute;
  width: 1440px;
  height: 1px;
  top: 135px;
  left: 0;
  object-fit: cover;
}

.screen .view-2 {
  position: absolute;
  width: 1440px;
  height: 143px;
  top: 687px;
  left: 0;
  background-color: #ffffff;
}

.screen .overlap-group-2 {
  position: absolute;
  width: 602px;
  height: 45px;
  top: 48px;
  left: 97px;
}

.screen .text-wrapper-14 {
  margin-top: 14px;
  width: 208px;
  height: 45px;
  top: 0;
  left: 0;
  font-weight: 400;
  text-align: center;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .copyright {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 17px;
  left: 19px;
}

.screen .text-wrapper-15 {
  position: absolute;
  width: 408px;
  height: 27px;
  top: 9px;
  left: 194px;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  font-family: "Montserrat", Helvetica;
  line-height: normal;
}

.screen .text-wrapper-16 {
  margin-top: 5px;
  position: absolute;
  width: 224px;
  height: 37px;
  top: 52px;
  left: 751px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-17 {
  position: absolute;
  width: 164px;
  height: 27px;
  top: 57px;
  left: 1027px;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  font-family: "Montserrat", Helvetica;
  line-height: normal;
}

.screen .telegram {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 54px;
  left: 1254px;
}

.screen .VK-com {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 54px;
  left: 1306px;
}

.screen .line-3 {
  position: absolute;
  width: 1440px;
  height: 3px;
  top: 684px;
  left: 0;
  object-fit: cover;
}
